<form method="post" action="{{ path('admin_airport_delete', {'id': airport.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet aéroport ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ airport.id) }}">

    <button title="Supprimer" class="btn delete-btn actions-size m-1" aria-label="Supprimer">
        <i alt="Supprimer" class="fa-solid fa-trash-can"></i>
    </button>
</form>
