<form method="post" action="{{ path('admin_user_delete', {'id': u.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cet utilisateur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ u.id) }}">

    <button title="Supprimer" aria-label="Supprimer" class="btn delete-btn actions-size m-1">
        <i alt="Supprimer" class="fa-solid fa-trash-can"></i></button>
</form>
