{% extends 'base.html.twig' %}

{% block title %}flights - Liste des utilisateurs{% endblock %}

{% block body %}

<section class="hero-user">
    <div class="hero-user-content">
        <h1>Utilisateurs</h1>
    </div>
</section>

<section class="container py-5">
    <div class="row justify-content-center">
        <div class="col-10">

                <table class="table text-center">
                        <tr>
                            <td class="title-info">Nom d'utilisateur</td>
                            <td class="title-info">Rôles</td>
                            <td></td>
                        </tr>

                    {% for u in user %}
                        <tr>
                            <td>{{ u.username }}</td>
                            <td>
                                {%for role in u.roles%}
                                    {% if role == "ROLE_USER" %}
                                        <span class="text-light p-2" style="background-color:#4f4d4c; border-radius:12px;">Utilisateur</span>
                                    {% elseif role == "ROLE_ADMIN" %}
                                        <span class="text-light p-2" style="background-color:#004c00; border-radius:12px;">Administrateur</span>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {{ include('admin/user/_delete_form.html.twig') }}
                            </td>
                        </tr>
                        <tr style="height:50px;"></tr>
                    {% else %}
                        <tr>
                            <td colspan="5" style="padding:30px;text-align:left;">Pas d'utilisateurs enregistrés !<br>Ajoutez-en un nouveau ici <i class="fa-solid fa-turn-down" style="color: #000000;"></i></td>
                        </tr>
                    {% endfor %}

                </table>

                <div class="btn-center">
                    <a class="btn-slide slide-right" href="{{ path('app_register')}}" style="text-decoration:none;"><i class="fa-solid fa-plus p-2"></i>Créer un nouvel utilisateur</a>
                </div>

        </div>
    </div>
</section>

{% endblock %}
