{% extends 'base.html.twig' %}

{% block title %}flights - Connexion | S'identifier{% endblock %}

{% block body %}

<section class="hero-login">
    <div class="hero-login-content">
        <h1>S'identifier</h1>
        <section class="container">
            <div class="row">

                <div class="col-12">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">Le nom d'utilisateur et/ou le mot de passe est invalide. <br> Veuillez entrer des identifiants valides.</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                Êtes-vous {{ app.user.userIdentifier }} ? Sinon, <a onmouseover="mouseover(color:red)" style="text-decoration:none; color:#000; " href="{{ path('app_logout') }}">Me déconnecter</a>
                            </div>
                        {% endif %}

                        <label for="inputUsername" class="mb-2 mt-3" >Nom d'utilisateur</label>
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                        <label for="inputPassword" class="mb-2 mt-3">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        >

                        <button class="btn btn-lg mt-3 btn-slide slide-right" type="submit" style="background-color:#ffffff;">
                            Se connecter
                        </button>

                    </form>
                </div>
            </div>
        </section>
    </div>
</section>

{% endblock %}
