{% extends 'base.html.twig' %}

{% block title %}flights - Mentions légales{% endblock %}

{% block body %}

<section class="hero-user">
    <div class="hero-user-content">
        <h1>Mentions legales</h1>
    </div>
</section>

<section class="container pb-5">
    <div class="row justify-content-center">
        <div class="col-12 p-5">
            <p><strong>Nom du site :</strong> flights</p>
            <p><strong>Adresse du site :</strong> https://www.flights.fr</p>

            <p>Le site <strong>Flights</strong> est un projet fictif développé dans le cadre d’un exercice étudiant.</p>

            <h2 class="mt-4">1. Responsable de publication</h2>
            <p>Nom : Laura Martins<br>Email : laura-94@live.fr</p>

            <h2 class="mt-4">2. Éditeur du site</h2>
            <p>
                Ce site est édité par la société fictive <strong>flights</strong>.<br>
                Siège social : 123 avenue des avions, 31000 Toulouse, France<br>
                Email : contact@flights.fr
            </p>

            <h2 class="mt-4">3. Hébergement</h2>
            <p>Ce site est hébergé localement via MAMP (environnement de développement).</p>

            <h2 class="mt-4">4. Crédits</h2>
            <p>Icônes : Font Awesome
                <br>Framework : Symfony
                <br>Base de données : MySQL
                <br>Images libre de droit : Pexels</p>

            <h2 class="mt-4">5. Responsabilité</h2>
            <p>
                Le site flights est un projet fictif réalisé à des fins d'apprentissage. Les informations présentées ne constituent pas une offre commerciale réelle.
            </p>

        </div>
    </div>
</section>
{% endblock %}