{% extends 'base.html.twig' %}

{% block title %}flights - Politique de confidentialité et d'utilisation des cookies{% endblock %}

{% block body %}

<section class="hero-user">
    <div class="hero-user-content">
        <h1>Politique de confidentialite et d'utilisation des cookies</h1>
    </div>
</section>

<section class="container pb-5">
    <div class="row justify-content-center">
        <div class="col-12 p-5">

            <h2>1. Introduction</h2>
            <p>La présente politique de confidentialité a pour objectif d’informer les utilisateurs du site <strong>flights</strong> sur la manière dont leurs données personnelles sont collectées, traitées et protégées.</p>

            <h2 class="mt-4">2. Responsable du traitement</h2>
            <p>Le responsable du traitement est la société fictive <strong>flights</strong>.<br>
                Email : contact@flights.fr</p>

            <h2 class="mt-4">3. Données collectées</h2>
            <p>Le site peut collecter des informations personnelles via ses formulaires (nom, email, etc.) dans le seul but de gérer les interactions avec l’utilisateur.</p>

            <h2 class="mt-4">4. Conservation et sécurité</h2>
            <p>Les données personnelles sont conservées pendant une durée limitée, strictement nécessaire à leur finalité, et ne sont jamais transmises à des tiers.</p>

            <h2 class="mt-4">5. Vos droits</h2>
            <p>Conformément au Règlement Général sur la Protection des Données (RGPD), vous disposez d’un droit d’accès, de rectification, d’opposition et de suppression de vos données personnelles. Pour exercer ces droits, contactez : contact@flights.fr.</p>

            <h2 class="mt-4">6. Cookies</h2>
            <p>Les cookies sont de petits fichiers enregistrés sur votre appareil permettant d’améliorer votre expérience de navigation. Le site utilise uniquement des cookies essentiels au bon fonctionnement du site et, éventuellement, des cookies analytiques anonymes.</p>

            <h3>Gestion des cookies</h3>
            <p>Lors de votre première visite, un bandeau vous permet d’accepter ou de refuser les cookies. Vous pouvez à tout moment modifier votre choix en cliquant sur le bouton “Gérer les cookies” dans le pied de page.</p>

            <h2 class="mt-4">7. Contact</h2>
            <p>Pour toute question concernant cette politique, veuillez écrire à : <strong>contact@flights.fr</strong>.</p>

        </div>
    </div>
</section>
{% endblock %}