<form method="post" class="actions" action="{{ path('admin_flights_delete', {'id': flight.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce vol ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ flight.id) }}">
    <button class="btn m-1 delete-btn actions-size" title="Supprimer" aria-label="Supprimer">
        <i alt="Supprimer" class="fa-solid fa-trash-can"></i>
    </button>
</form>