{% extends 'base.html.twig' %}

{% block title %}flights - Modifier la réduction{% endblock %}

{% block body %}

<section class="hero-form">
    <div class="hero-form-content">
        <h1>Modifer la reduction</h1>
        <h2></h2>
    </div>
</section>

<section class="container justify-content-center">
    <div class="row justify-content-center">
        <div class="col-8 text-left" style="padding:20px;">

            {{ include('admin/discount/_form.html.twig', {'button_label': 'Enregistrer'}) }}

        </div>

        <div class="return d-flex justify-content-end">
                <a class="btn-slide slide-right m-3" href="{{ path('admin_discount')}}" style="text-decoration:none;" ><i class="fa-solid fa-rotate-left"></i> Retour à la liste</a>
        </div>
    </div>
</section>


{% endblock %}
